# Rust
/target
**/*.rs.bk
*.exe
*.pdb
*.d

# Logs
/log
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Tokens
token

# Local config files
bridger.json
ui-cfg.json

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store